@model Domain.Entities.SuperHero

@{
    ViewBag.Title = "Удаление";
}

<h2>Удалить супергероя</h2>

<h3>Вы уверены, что хотите удалить этого супергероя?</h3>
<div>
    <h4>Супергерой:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <div class="form-group">
        @if (Model.ImageData == null)
            {
            <img class="img-thumbnail" width="240" height="240" src="~/Content/Images/default_superhero.jpg" />
        }
        else
        {
            <img class="img-thumbnail" width="240" height="240" src="@Url.Action("GetImage", "SuperHeroes", new {superheroId = Model.Id })" />
        }
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("К списку супергероев", "Index") | 
            <input type="submit" value="Удалить" class="btn btn-default" />             
        </div>
    }
</div>
