@model Domain.Entities.SuperHero

@{
    ViewBag.Title = "Супергерой";
}



<h1>
    @Html.DisplayFor(model => model.Name)
</h1>

<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("К списку супергероев", "Index")
</p>

<hr />

<p>
    @if (Model.ImageData == null)
    {
        <img class="figure" width="320" height="320" src="~/Content/Images/default_superhero.jpg" />
    }
    else
    {
        <img src="@Url.Action("GetImage", "SuperHeroes", new {superheroId = Model.Id })" class="figure-float-left" />
    }
</p>

<p>@Html.DisplayFor(model=>model.Description)</p>

<hr class="clear-layer" />

<table>
    <tr>
        <th>
            <p></p>
        </th>    
        <th>
            @Html.DisplayNameFor(model => model.SuperPowers.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuperPowers.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuperPowers.First().Rating)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.SuperPowers)
    {
        <tr>
            <td>
                <div class="form-group">
                    @if (item.ImageData == null)
                {
                        <img class="img-thumbnail" width="32" height="32" src="~/Content/Images/default_superpower.png" />
                    }
                    else
                    {
                        <img class="img-thumbnail" width="64" height="64" src="@Url.Action("GetImage", "SuperPowers", new {superpowerId = item.Id })" />
                    }
                </div>
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>            
        </tr>
    }
</table>